@media (max-width: 991px) { 
    div.loginContainer{
        height: 900px;
    }
 }
input:focus {
    outline: none !important;
}

.loginInput
{
    border-width: 0px; 
    border: none; 
    outline: none;
    position: relative;
    left: 18px;
     bottom: 4px;
    background-color: transparent;
}

.loginButton
{
    background-color: #68c2e8;
    cursor: pointer;
}

.loginButton:hover
{
    background-color: #4292DC;
}