@media (max-width: 991px) { 
    div.loginContainer{
        height: 900px;
    }
 }
input:focus {
    outline: none !important;
}

.loginInput
{
    border-width: 0px; 
    border: none; 
    outline: none;
    position: relative;
    left: 18px;
     bottom: 4px;
    background-color: transparent;
}

.loginButton
{
    background-color: #68c2e8;
    cursor: pointer;
}

.loginButton:hover
{
    background-color: #4292DC;
}

.inputWrapper {
    height: 32px;
    width: 100px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
    background-color: white;
    color: white;
}
.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    color: white;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

