<div *ngIf="groupImage.length==0"class="container d-flex justify-content-center" >
    <img class="img-fluid d-flex  justify-content-center" src="assets\noImage.png" style="height: 180px; width: 180px;"  >
</div>
<div *ngIf="groupImage.length>0" class="container d-flex justify-content-center">
    <img class="img-fluid d-flex  justify-content-center" [src]="groupImage" style="height: 355px; width: 100%;"   >
</div>
<div class="container">
    <div *ngIf='relationship && relationship!="OWNER"' style="margin-bottom: 20px;">
        <button 
            type="button" (click)='handleGroupJoin()' *ngIf="relationship == 'NORELATIONSHIP'"
            class="btn btn-outline-success" style="margin-top: 10px;">
            Join group
        </button>
        <button 
            type="button" (click)='handleGroupLeave()' *ngIf="relationship == 'MEMBER'"
            class="btn btn-outline-danger" style="margin-top: 10px;">
            Leave group
        </button>
    </div>
    <div *ngIf="relationship && relationship != 'NORELATIONSHIP'">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Posts</a>
                <ng-template ngbNavContent>
                    <app-group></app-group>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Members</a>
                <ng-template ngbNavContent>
                    <app-group-members [groupId]='groupId'></app-group-members>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>Information</a>
                <ng-template ngbNavContent>
                    <group-info [groupId]='groupId'></group-info>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>Shared content</a>
                <ng-template ngbNavContent>
                    <app-group-document [groupId]='groupId'></app-group-document>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div *ngIf="relationship && relationship == 'NORELATIONSHIP'">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" >
            <li [ngbNavItem]="1">
                <a ngbNavLink>Members</a>
                <ng-template ngbNavContent>
                    <app-group-members [groupId]='groupId'></app-group-members>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Information</a>
                <ng-template ngbNavContent>
                    <group-info [groupId]='groupId' ></group-info>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="spinner-border" role="status" *ngIf="!relationship">
        <span class="sr-only">Loading...</span>
    </div>
</div>