<div class="card mt-4" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col d-flex justify-content-center align-items-center">
            <img *ngIf="student.profilePicturePath" [src]="student.profilePicturePath" height="75px" width="75px" class="rounded-circle mt-2 mb-2" alt="profilePicture.jpg">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> {{ student.firstName }} {{ student.lastName }} </h5>
                <p class="card-text"> {{ student.email }} </p>
            </div>
        </div>
    </div>
</div>