<div class="container">
    <div class="row" >
        <div class="col"> 
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>Owner</h5>
                </div>
            </div>      
            <div class="card" style="margin-top: 5; background-color: transparent; border: 0;" *ngFor='let group of ownerships' >
                <app-group-element style="cursor: pointer;" [owner]="true" [group]='group' [showMore]='false'></app-group-element>
            </div>
        </div>
        <div class="col"> 
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h5>Member</h5>
                </div>
            </div>      
            <div class="card" style="margin-top: 5; background-color: transparent; border: 0;" *ngFor='let group of memberships'>
                <app-group-element  [group]='group' [owner]="false" [showMore]='false'></app-group-element>
            </div>
        </div>
    </div>
</div>