<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{group.group.name}}</h4>
          <h6 class="card-title">field: {{group.group.field}}</h6>
      </div>
      <div class="d-flex justify-content-around" style="margin-bottom: 10px;">
            <div class="col">members: {{group.countOfMembers}}</div>
            <div class="col">posts: {{group.countOfPosts}}</div>
            <div class="col">comments: {{group.countOfComments}}</div>
      </div>
      <div class="card-body">
        <h6 class="card-title">field: {{group.group.description}}</h6>
    </div>

    </div>
  </div>
</div>
