<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img  alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h6 class="card-title">{{ group.group.name }}</h6>
                <div *ngIf='showMore'>
                    <button type="button" class="btn btn-outline-primary" 
                        (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample" style="margin-bottom: 10px;">
                        Toggle description
                    </button>
                        
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" >
                        <p class="card-text">{{ group.group.description }}</p>
                    </div>
                </div>

                <div class="card-text" style="padding-top: 5px;"><small class="text-muted">Field: {{ group.group.field }}</small></div>
                <div class="card-text"><small class="text-muted">Owner: {{group.student.student.firstName}} {{group.student.student.lastName}}</small></div>
                <div> 
                    <button 
                        *ngIf='canJoin' type="button" (click)='handleGroupJoin()'
                        class="btn btn-outline-success" style="margin: 10px 10px 0px 0px;">
                        Join group
                    </button>
                    <button 
                        *ngIf="canLeave" type="button" (click)='handleGroupLeave()'
                        class="btn btn-outline-danger" style="margin: 10px 10px 0px 0px;">
                        Leave group
                    </button>
                    <button
                        type="button" (click)='handleGroupPageVisit()'
                        class="btn btn-outline-primary" style="margin-top: 10px;">
                        Visit group page
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> 