<div class="container-flex pl-5 pr-5 pt-1 d-flex justify-content-center">
    <div class="row w-75  rounded pr-4" style="background-color: white;">
        <div class="col-4 pl-5 pr-5">
            <div class="row pt-2 ">
                <p style="font-size:25px; font-weight:700;">Chats</p>
            </div>
            <div class="row ">
                <div class="col-10 " style="border-radius: 30px; background-color: #eeeeee;">
                    <i style="cursor: pointer;" class="fa fa-search" aria-hidden="true"></i>
                    <input class="pl-3"  style="background-color:transparent; border:none; outline: none; overflow: auto; " placeholder="Search friends...">
                </div>
            </div>
            <div class="row pt-3 pb-3" style="cursor: pointer;">
                <div class="col-2">
                    <img src="assets\profilePicture.jpg" height="50px" width="50px" class="rounded-circle" alt="profilePicture.jpg">
                </div>
                <div class="col-10 pt-2 ">
                    <h5>Stefan Stamenkovic</h5>
                </div>
            </div>
            <div class="row pt-3 pb-3" style="cursor: pointer;">
                <div class="col-2">
                    <img src="assets\profilePicture.jpg" height="50px" width="50px" class="rounded-circle" alt="profilePicture.jpg">
                </div>
                <div class="col-10 pt-2 ">
                    <h5>Stefan Stamenkovic</h5>
                </div>
            </div>
            <div class="row pt-3 pb-3" style="cursor: pointer;">
                <div class="col-2">
                    <img src="assets\profilePicture.jpg" height="50px" width="50px" class="rounded-circle" alt="profilePicture.jpg">
                </div>
                <div class="col-10 pt-2 ">
                    <h5>Stefan Stamenkovic</h5>
                </div>
            </div>
        </div>
        <div class="col-8  border-start">
            <app-message-container></app-message-container>
        </div>
    </div>
</div>
