textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
   
  
}

textarea::placeholder
{
    position: relative;
    left: 10px;
    top: 10px;
}

textarea::selection
{
    position: relative;
    left: 10px;
    top: 10px;
}

.pera
{
    padding-left: 100px;
}